/*
lighten(@color, 10%);  返回的颜色在@color基础上变亮10% *
darken(@color, 10%);  返回的颜色在@color基础上变暗10%*
saturate(@color, 10%);   返回的颜色在@color基础上饱和度增加10% *
desaturate(@color, 10%); 返回的颜色在@color基础上饱和度降低10%*
spin(@color, 10);  返回的颜色在@color基础上色调增加10*
spin(@color, -10);  返回的颜色在@color基础上色调减少10 
mix(@color1, @color2);  返回的颜色是@color1和@color2两者的混合色  
*/
/* 
	RJ-CMS CSS Variables 
	其中的注释说明：
	simple configuration 表示简易配置sponsive unique 响应试特有
*/
@charset "utf-8";

/*************** 色调 ************************/

/* 主色调 simple configuration */
@primary-color:#1e88ea;

/* 辅色调 simple configuration */
@secondary-color: #888888;

/* 强调色（文字滑过效果，可与主色一致）*/
@emphasize-color:@primary-color;

/* 融合色 */
@blend-color: #fff;

/* 背景色(可与主色一致) */
@background-color:#fafafa;

/***************end 色调 ************************/


/*************** 字体 ************************/
/* 大于768下基础字体*/
@body-font-family:"微软雅黑", Helvetica;
@body-font-size:16px;
/* 小于768下基础字体*/
@spbody-font-family:"微软雅黑", Helvetica;
@spbody-font-size:16px;
/*文字下划线*/
@text-decoration-underline:underline;

/* 基础字体大小,行高，宽度，字体颜色,字体链接色，链接背景颜色  */
@base-font-size: 1em;
@base-line-height:2em;
@base-font-weight:normal;
@base-font-color:#333;
@base-link-font-color:@emphasize-color;
@base-link-active-bg: darken(@blend-color, 10%);


/*强调的文字字体大小，行高，宽度*/
@emphasize-font-size:1.125em;
@emphasize-font-line-height:2em;
@emphasize-font-weight:bold;


/*************** 背景 ************************/

/* 背景色 simple configuration */
@body-bg-color:@background-color;

/* 背景图片 simple configuration */
@body-bg-img: url(../images/body-bg-img.png) no-repeat;

/***************end 背景 ************************/


/***************top-banner图片 ************************/
@t-banner-pc:url(../images/banner-pc.png) no-repeat;/*PC版的头部banner*/
@t-banner-phone:url(../images/banner-pc.png) no-repeat;/*手机版的头部banner*/
@t-banner-pad:url(../images/banner-pad.png) no-repeat;/*PAD版的头部banner*/
/***************END top-banner图片 ************************/


/*************** 边框 ************************/
/* 基础边框宽度 样式 颜色*/
@base-border-color:lighten(@primary-color,46%); 
@base-border-width: 1px;
@base-border-style: solid;

/* 辅助边框宽度 样式 颜色*/
@secondary-border-color:darken(@blend-color,20%);
@secondary-border-width: 1px;
@secondary-border-style:dashed;

/***************end 边框 ************************/


/****************** 间距 *********************/
/* modhead内边距 */
@mod-modhead-padding:18px;

/* modcon内边距 */
@modcon-inner-padding:18px;

/* mod块上边外间距 */
@mod-outer-margin-top:18px;

/* mod块左边外间距 */
@mod-outer-margin-left:18px;

/*通用内边距 */
@inner-padding:15px;

/***************end 间距************************/


/***************end 标题 ************************/

/* 主标题 */

/* 主标题字体颜色  鼠标经过颜色  字体大小 行高 字体风格 字体宽度*/
@header-font-color:@base-font-color;
@header-font-hover-color:@base-font-color;
@header-font-size:1.428em;
@header-line-height: 2em;
@header-font-family:@body-font-family;
@header-font-weight:700;
/* 副标题 */

/* 主标题字体颜色  鼠标经过颜色  字体大小 行高 字体风格 字体宽度*/
@subtitle-font-color:lighten(@header-font-color, 30%);
@subtitle-font-hover-color:lighten(@header-font-color, 30%);
@subtitle-font-size:1.8em;
@subtitle-line-height: 2em;
@subtitle-font-family:@body-font-family;
@subtitle-font-weight:700;

/***************end 标题 ************************/


/***************  小图标 ************************/
/*热点小图标 */
@hot-icon: "images/hot.gif";
/*最新消息小图标 */
@new-icon: "images/new.gif";
/*排行小图标 */
@ranking-icon: "images/ranking.gif";






